<div class="content">
    <div class="header">
        <div class="info">
            <div class="title">Profit and Loss Statement</div>
            
            <div class="summary">
                <div class="summaryLabelWrapper">
                    <div>Period</div>
                    <div>Currency</div>
                </div>
                <div class="summaryValueWrapper">
                    <div>2022-01-01 - 2022-12-31</div>
                    <div>USD</div>
                </div>
            </div>
        </div>
        <div class="generationDate">Generated on the 2023-01-28</div>
    </div>
</div>
