<div class="statementUploading">
    <div>
        <input type="file" id="fileInput">
        <button id="fileUploadButton">upload</button>
    </div>
    <div class="responseWrapper">
        <div id="responseCaptionWaiting" class="response">
            Please Wait...
        </div>
        <div id="responseCaptionOk" class="response response__ok">
            Database updated succesfully
        </div>
        <div id="responseCaptionError" class="response response__error">
            Database update error
        </div>
    </div>
</div>
