<div class="statementUploading">
    <div>
        <input type="file" name="" id="">
        <button>upload</button>
    </div>
    <div class="responseWrapper">
        <!-- <div class="response response__ok">
            Database updated succesfully
        </div>
        <div class="response response__error">
            Database update error
        </div> -->
    </div>
</div>
